<h1 class="mt-2 text-center">Recipes</h1>
<%= link_to 'Add new recipe', new_recipe_path, 
  class: 'btn btn-primary btn-sm float-end mb-4'
%>
<div class="container mt-5" style="clear:both;">
  <%@recipes.each do |recipe|%>
    <div class="float-none card mt-3">
      <div class="card-body">
        <h3 class="card-title"><%=recipe.name%></h3>
        <p class="card-text"><%= recipe.description%></p>
          <%= link_to "See Details", recipe,
            class: 'btn btn-primary' %>
          <%= link_to "Remove", recipe, data: {turbo_method: :delete, turbo_confirm: "Are you sure"},
          class: 'btn btn-danger' %>
      </div>
    </div>
  <%end%>
<div>