<h1 class='text-center mb-3 mt-2'>
  <%=@recipe.name%>
</h1>
<div class='d-flex info-recipe justify-content-between '>
  <div class=''>
    <p class='mb-3 fs-5 fw-bold'>
      Preparation time: 
      <span class="fw-normal"><%=@recipe.preparationTime%> minutes</span> 
    </p>
    <p class='mb-3 fs-5 fw-bold'>
      Cooking time: 
      <span class="fw-normal"><%=@recipe.cookingTime%> minutes</span> 
    </p>
    <p class='mb-3 fs-5'>Steps go here ...</p>
  </div>
  <div class=''>
    <% if can? :manage, @recipe %>
      <%= render partial:"shared/publicRecipe"%>
    <% end %>
  </div>
</div>
<script>
  function myFunction(e) {
    document.getElementById('changeIngredient').classList.toggle('collapse');
    document.getElementById('recipe_food_id').value = e.target.dataset.ingredient;
    document.getElementById('recipe_food_id').style.display = 'none';
    document.getElementById('recipe_food_quantity').focus();
  }
</script>
<div class='flex space-evenly w-100 margin-botton-20'>
  <% if can? :manage, @recipe %>
    <%=button_to 'Generate shopping list', shopping_list_index_path,
      method: :get,
    class: 'btn btn-primary btn-sm me-2'%>
    <%= turbo_frame_tag "addIngredient" do%>
      <%= link_to "Add ingredient", new_ingredient_recipe_path(), class: "btn btn-primary btn-sm"%>
    <% end %>
  <%end%>
</div>
<hr>
<div>
  <div>
    <div class="d-flex border-bottom border-info mb-3">
        <p style="flex:1" class="fw-bold">Food</p>
        <p style="flex:1" class="fw-bold">Quantity</p>
        <p style="flex:1" class="fw-bold"">Value</p>
        <% if can? :manage, @recipe %>
          <p style="flex:1" class="fw-bold">Actions</p>
        <%end%>
    </div>
    <%= turbo_stream_from "ingredients"%>
      <%= turbo_frame_tag "ingredients" do%>
        <div>
          <% @ingredients.each do |ingredient| %>
            <%= render partial: "shared/ingredient", locals: {ingredient: ingredient}%>
          <% end %>
        </div>
      <% end %>
  </div>
  <%=turbo_stream_from 'recipes'%>
  <%=turbo_frame_tag  'recipes' do%>
    <% @recipes.each do |recipe|%>
      <p> <%=recipe.name%> </p>
    <%end%>
  <%end%>
</div>
