<h2 class="text-center">Create a new food</h2>
<%= form_with scope: :food, url: foods_path, method: :post  do |form| %>
  <div class="mb-3">
    <%= form.label :name,class:"form-label" %>
    <%= form.text_field :name, required: true, autofocus: true, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :name,"Measurement unit",class:"form-label" %>
    <%= form.text_field :measurementUnit, required: true, class:"form-control" %>
  </div>
  <div class="mb-3">
   <%= form.label :price,class:"form-label" %>
    <%= form.text_field :price, required: true, type: "number", 
    step: "0.01", value: 0.1, id: "price_input",
    class:"form-control" %>
  </div>
<br>
<%= form.submit 'Save food', :class => 'btn btn-primary' %>
<%= link_to 'Back', url_for(:back), :class => 'btn btn-secondary float-right' %>
<% end %>


<% if flash[:notice] %>
    <div class="alert-pos" id="notice"><%= flash[:notice] %></div>
<% end %>