<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div class="container">
    <div class="navbar dark-bg-color padding-10 flex f-column margin-botton-20">
      <div class="navbar-links flex space-evenly margin-botton-10">
        <%= link_to "Home", root_path, class: '' %>
        <%= link_to "Foods", foods_path, class: "" %>
        <%= link_to "Recipes", recipes_path, class: "" %>
        <%= link_to "Shopping List", shopping_list_path, class: "" %>
        <%= link_to "Public Recipes", root_path, class: "" %>
      </div>
      <% if user_signed_in?%>
        <div class="flex space-between">
          <p class="light-color">Welcome: <%=current_user.name%></p>
          <%=button_to "Log out", 
                    destroy_user_session_path, 
                    method: :delete,
                    class:'link warning-color',
                    data: { turbo: false }
          %>
        </div>
      <%end%>
    </div>
    <% if flash.any?%>
      <% flash.each do |name, msg| -%>
        <%if name=='alert'%>
          <div class='alert'>
          <%= content_tag :div, msg, class: name %>
          </div>
        <%else%>
          <div class='notice'>
          <%= content_tag :div, msg, class: name %>
          </div>
        <% end -%>
      <% end -%>
    <%end%>
      <%= yield %>
    </div>
  </body>
</html>
